body {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.582), rgba(255, 166, 0, 0.479), rgba(0, 128, 0, 0.548), rgba(255, 0, 0, 0.445), rgba(0, 0, 255, 0.5), rgba(128, 128, 128, 0.507), rgba(255, 255, 0, 0.459));
}

fieldset {
    border: none;
}

section {

    width: 60vh;
    background-color: aqua;
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;

}
